<div class="flex flex-col p-5">
  <div class="flex flex-col rounded-md border-2 border-stone-700 w-full p-4">
    <h2 class="mb-2">Menge</h2>
    <div class="flex">
      <input
        type="number"
        class="w-16 bg-slate-300 rounded border border-stone-700"
      />
      <p class="ml-1">ml</p>
    </div>
  </div>
  <div
    class="flex flex-col rounded-md border-2 border-stone-700 w-full p-4 mt-2"
  >
    <h1 class="font-bold">Nikotin</h1>
    <div class="flex flex-row justify-between">
      <div>
        <h2 class="mb-2">Menge</h2>
        <div class="flex">
          <input
            type="number"
            class="w-16 bg-slate-300 rounded border border-stone-700"
          />
          <p class="ml-1">mg</p>
        </div>
      </div>
      <div>
        <h2 class="mb-2">Stärke</h2>
        <div class="flex">
          <input
            type="number"
            class="w-16 bg-slate-300 rounded border border-stone-700"
          />
          <p class="ml-1">mg</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col rounded-md border-2 border-stone-700 w-full p-4 mt-2"
  >
    <h1 class="font-bold">PG / VG</h1>
    <div class="flex flex-row justify-between">
      <div>
        <h2 class="mb-2">SOLL</h2>
        <div class="flex">
          <p class="mr-2">PG</p>
          <input
            type="number"
            class="w-16 bg-slate-300 rounded border border-stone-700"
            [(ngModel)]="pg1"
            (ngModelChange)="onPgChange1()"
            min="0"
            max="100"
          />
          <p class="ml-1">%</p>
        </div>

        <div class="flex mt-2">
          <p class="mr-2">VG</p>
          <input
            type="number"
            class="w-16 bg-slate-300 rounded border border-stone-700"
            [(ngModel)]="vg1"
            (ngModelChange)="onVgChange1()"
            min="0"
            max="100"
          />
          <p class="ml-1">%</p>
        </div>
      </div>
      <div>
        <h2 class="mb-2">BASE</h2>
        <div class="flex">
          <p class="mr-2">PG</p>
          <input
            type="number"
            class="w-16 bg-slate-300 rounded border border-stone-700"
            [(ngModel)]="pg2"
            (ngModelChange)="onPgChange2()"
            min="0"
            max="100"
          />
          <p class="ml-1">%</p>
        </div>

        <div class="flex mt-2">
          <p class="mr-2">VG</p>
          <input
            type="number"
            class="w-16 bg-slate-300 rounded border border-stone-700"
            [(ngModel)]="vg2"
            (ngModelChange)="onVgChange2()"
            min="0"
            max="100"
          />
          <p class="ml-1">%</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col rounded-md border-2 border-stone-700 w-full p-4 mt-2"
  >
    <h1 class="font-bold">Aromen</h1>
    <table class="border border-slate-700 rounded-md">
      <tr class="text-left">
        <th>Aroma</th>
        <th>Menge</th>
        <th></th>
      </tr>
      <tr></tr>
    </table>
    <div class="text-right mt-2">
      <button
        class="bg-neutral-200 border border-slate-500 rounded px-2"
        (click)="addFlavor()"
      >
        +
      </button>
    </div>
  </div>
</div>
